@font-face {
    font-family: "Roboto";
    src: url("fonts/Robotolight.woff2"), url("fonts/Robotolight.woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto.woff2"), url("fonts/Roboto.woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("fonts/Robotomedium.woff2"), url("fonts/Robotomedium.woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("fonts/Robotobold.woff2"), url("fonts/Robotobold.woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Yeseva One";
    src: url("fonts/yesevaone.woff2"), url("fonts/yesevaone.woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;
    background-color: #185c0b;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .visually-hidden:not(:focus):not(:active) {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    clip-path: inset(100%);
  }
  
  .container {
    position: relative;
    max-width: 1286px;
    margin: 0 auto;
    padding: 0 40px;
  }
  
  .section__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .section__title {
    margin: 0;
    font-family: "Yeseva One", "Georgia", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #d8d518;
    text-align: center;
  }
  
  .section__lead {
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #f08811;
  }
  
  .social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
  }
  
  .social a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
 
/* header styles */
.header {
    position: relative;
    background-color: #183118;
    height: 700px;
  }
  
  .header__container {
    position: relative;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 80px;
    background-image: url("img/main_img.png");
    background-repeat: no-repeat;
    background-size: 560px auto;
    background-position: right 0 bottom 0;

  }
  
  .header__wrapper {
    margin: 0 auto;
    width: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 47px;
    padding-bottom: 64px;
    overflow: hidden;
    z-index: 2;
  }
  .logo {
      width: 55px;
      height: 25px;
         
  }

  .header__logo {
    display: block;
    width: 100%;
    margin-bottom: 78px;
    text-align: center;
  }
  
  
  .header__content {
    width: auto;
  }
  
  .header__city {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #eba04c;
    max-width: 330px;
    margin-top: 30px;
    margin-bottom: 17px;
  }
  
  .header__title {
    margin: 0;
    margin-bottom: 16px;
    font-family: "Yeseva One", "Georgia", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 60px;
    color: #ffffff;
    max-width: 350px;
    transform: translateX(-3px);
  }
  
  .header__lead {
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #eba04c;
    max-width: 360px;
    margin-bottom: 48px;
  }
  
  .header__btn {
    text-align: center;
    width: 200px;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #eba04c;
    background-color: transparent;
    text-decoration: none;
    padding: 18px;
    transition: color 0.3s ease-out, border 0.3s ease-out;
    margin-bottom: 110px;
  }
  
  .header__btn:hover,
  .header__btn:focus {
    color: #eba04c;
    border: 1px solid #ffffff;
  }
  
  .header__btn:active {
    opacity: 0.5;
  }
  
  .header__social {
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 113px;
    margin-top: auto;
  }
  
  .header__social li {
    margin-bottom: 14px;
  }
  
  .header__social li:last-of-type {
    margin-bottom: 0;
  }
  
  .header__social a {
    width: 15px;
    height: 15px;
  }
 
  
  .header__social::before {
    content: "";
    position: absolute;
    bottom: 127px;
    left: 6px;
    height: 77px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.61);
    margin-bottom: 29px;
    align-self: center;
  }

  /* slider in gallery pets section */
  .slider {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .slider__container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
  }
  
  .slider__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }
  
  .slider__slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
  }
  
  .slider__button {
    z-index: 5;
    display: block;
    width: 14px;
    height: 31px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .slider__button::after {
    display: none;
  }
  
  .slider__button--prev,
  .slider__button--next {
    position: absolute;
    top: 50%;
  }
  
  .slider__button--prev {
    left: 0;
    background-image: url("/img/arrowPrev.svg");
  }
  
  .slider__button--next {
    right: 0;
    background-image: url("/img/arrowNext.svg");
  }

  /* pets section */
  .pets {
    background-color: #185c0b;
  }
  
  .pets__tab-content-wrapper {
    width: 100%;
  }
  
  .pets__wrapper {
    padding-top: 123px;
    padding-bottom: 21px;
  }
  
  .pets__title {
    margin-bottom: 20px;
  }
  
  .pets__lead {
    margin-bottom: 42px;
    max-width: 523px;
  }
  
  .pets__list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 259px;
    margin-bottom: 44px;
    padding-right: 10px;
  }
  
  .pets__item {
    margin-right: auto;
  }
  
  .pets__item:last-of-type {
    margin-right: 0;
  }
  
  .pets__tab {
    display: block;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #ffffff;
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease-out;
  }
  
  .pets__tab--active {
    opacity: 1;
  }
  
  .pets__tab:hover {
    opacity: 1;
  }
  
  .pets__tab-content {
    display: block;
  }
  
  .pets__tab-content button {
    display: block;
    margin: 0;
  }
  
  .pets__sliders-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  
  .pets__btn-wraper {
    width: 100%;
  }
  
  .pets__btn {
    margin: 0 auto 40px;
    margin-bottom: 40px;
    width: 200px;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #eba04c;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    padding: 18px;
    transition: color 0.3s ease-out, border 0.3s ease-out;
  }
  
  .pets__btn:hover,
  .pets__btn:focus {
    color: #eba04c;
    border: 1px solid #ffffff;
  }
  
  .pets__btn:active {
    opacity: 0.5;
  }
  
  .gallery {
    display: block;
    width: 100%;
    max-width: 1068px;
    height: auto;
    margin: 0 auto 56px;
    column-count: 2;
    column-gap: 30px;
    padding-left: 30px;
  }
  
  .gallery__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .gallery__layout-column {
    margin-right: 35px;
  }
  
  .gallery__item {
    flex-shrink: 1;
    line-height: 0;
    break-inside: avoid;
    page-break-inside: avoid;
    overflow: hidden;
    width: 100%;
  }
  
  .gallery__item--top {
    margin-bottom: 30px;
    height: 214px;
  }
  
  .gallery__item--bottom {
    height: 241px;
  }
  
  .gallery__item--large {
    width: calc(100% - 30px);
    max-width: 474px;
    height: 485px;
  }
  
  .gallery__item img {
    line-height: 0;
  }
  
  .gallery__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  /* breed-features section */
  .breed-features {
    background-color: #185c0b;
  }
  
  .breed-features__wrapper {
    position: relative;
    padding-top: 21px;
    padding-bottom: 129px;
  }
  
  .breed-features__title {
    margin-bottom: 20px;
    transform: translateX(10px);
  }
  
  .breed-features__image {
    width: 602px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
   
    background-color: #185c0b;
  }
  
  .breed-features__image::before {
    content: "";
    position: absolute;
    top: 105px;
    left: 24px;
    z-index: 2;
    width: 519px;
    height: 519px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .breed-features__image::after {
    content: "";
    position: absolute;
    top: 49px;
    left: -30px;
    z-index: 2;
    border-radius: 50%;
    width: 631px;
    height: 631px;
    border: 1px solid #eba04c;
  }
  
  .breed-features__lead {
    margin-bottom: 23px;
    width: 62%;
  }
  
  .breed-features__list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    line-height: 25px;
  }
  
  .breed-features__item {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: #ffffff;
    position: relative;
  }
  
  .breed-features__item::before {
    content: "";
    position: absolute;
    top: 7px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #eba04c;
  }
  
  .breed-features__item--cohabitation {
    
    top: 343px;
    left: -475px;
    max-width: 255px;
    text-align: right;
  }
  
  .breed-features__item--cohabitation::before {
    right: -39px;
  }
  
  .breed-features__item--instruction {
    top: 411px;
    right: -482px;
    max-width: 201px;
  }
  
  .breed-features__item--instruction::before {
    top: 3px;
    left: -36px;
  }
  
  .breed-features__item--life {
    top: 584px;
    right: -444px;
    max-width: 160px;
  }
  
  .breed-features__item--life::before {
    top: 6px;
    left: -33px;
  }
  
  .breed-features__item--appearance {
    max-width: 255px;
    top: 495px;
    left: -485px;
    text-align: right;
  }
  
  .breed-features__item--appearance::before {
    right: -31px;
  }
  /* advantages section  */
  .advantages {
    background-color: #183118;
  }
  
  .advantages__wrapper {
    padding-top: 83px;
    padding-bottom: 64px;
  }
  
  .advantages__title {
    margin-bottom: 20px;
  }
  
  .advantages__lead {
    margin-bottom: 46px;
    word-spacing: 2px;
  }
  
  .advantages__list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 95%;
  }
  
  .advantages__item {
    background-color: #118d11;
    width: 31.4%;
    min-height: 301px;
    margin-right: 2.9%;
    margin-bottom: 2.9%;
    padding-top: 19.8px;
    padding-bottom: 19.8px;
  }
  
  .advantages__item:last-of-type {
    margin-right: 0;
  }
  
  .advantages__link {
    display: block;
    max-width: 320px;
    min-height: 263px;
    margin: auto;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    padding-top: 47px;
    padding-bottom: 16px;
    transition: background-color 0.3s ease-out, fill 0.3s ease-out, stroke 0.3s ease-out;
  }
  
  .advantages__link:hover {
    background-color: #0aa30a;
  }
  
  
  
  .advantages__link img {
    margin: 0 auto;
    fill: #a07b50;
    stroke-width: 2;
    stroke: #1f1c1d;
    margin-bottom: 23px;
    transition: fill 0.3s ease-out, stroke 0.3s ease-out;
  }
  
  .advantages__link img.icon-counseling24 {
    margin-bottom: 33px;
  }
  
  .advantages__link span {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 233px;
  }

  /* care section */
  .care {
    background-color: #185c0b;
    background-image: url("/img/care_background3.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
   
   
  }
  
  .care__wrapper {
    padding-top: 84px;
    padding-bottom: 51px;
  }
  
  .care__title {
   
    margin-bottom: 68px;
  }
  
  .care__list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 96%;
  }
  
  .care__item {
    display: flex;
    flex-basis: 48.3%;
    margin-bottom: 3.9%;
    margin-right: auto;
  }
  
  .care__item:nth-child(2n + 1) {
    margin-right: auto;
  }
  
  .care__item--wool {
    order: 0;
  }
  
  .care__item--ears {
    order: 2;
    margin-right: auto;
  }
  
  .care__item--activity {
    order: 1;
    margin-right: 0;
  }
  
  .care__item--food {
    order: 3;
    margin-right: 0;
  }
  
  .care__item.care__item--food {
    margin-right: 0;
  }
  
  .care__item.care__item--activity {
    margin-right: 0;
  }
  
  .care__link {
    position: relative;
    display: block;
    min-height: 165px;
    border: 2px solid #eba04c;
    padding-top: 37px;
    padding-left: 58px;
    padding-bottom: 21px;
    padding-right: 19%;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    background-color: rgba(24, 92, 11, 0.5);
  }
  
  .care__link::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 10.6%;
    height: 100%;
    background-color: #eba04c;
    border-left: 1px solid #eba04c;
    background-image: url("/img/arrowDetails.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.3s ease-out;
  }
  
  .care__link:hover,
  .care__link:hover::after {
    background-color: #185c0b;
  }
  
  .care__link-title {
    margin: 0;
    margin-bottom: 15px;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #dfee0e;
  }
  
  .care__link-content {
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: #ffffff;
  }
  /* team section */
  .team {
    background-color: #183118;
  }
  
  .team__wrapper-outer {
    display: flex;
    padding: 2px 90px 2px 90px;
  }
    .team__wrapper {
    display: block;
    padding-top: 83px;
    padding-bottom: 70px;
  }
  
  .team__slider {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .team__slider button {
    width: 31px;
    height: 31px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    transition: opacity 0.3s ease-out;
  }
  
  .team__slider button:hover {
    opacity: 1;
  }
  
  .team__slider button:first-of-type {
    top: 51%;
    background-image: url("/img/arrowPrev.svg");
  }
  
  .team__slider button:last-of-type {
    top: 51%;
    background-image: url("/img/arrowNext.svg");
  }
  
  .team__title {
    margin-bottom: 19px;
  }
  
  .team__lead {
    margin-bottom: 23px;
    max-width: 505px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .team__list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
  }
  
  .team__item {
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: opacity 1s;
  }
  
  .team__item blockquote {
    margin: 0;
    min-width: 400px;
  }
  
  .team__img-wrapper {
    z-index: 5;
    width: 50%;
    margin-left: 55px;
  }
  .team__img-wrapper img {
    width: 360px;
    height: 360px;
    
  }
  .team__item-title {
    display: block;
    margin: 0 0 6px;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #dfee0e;
  }
  
  .team__item-jobTitle {
    margin: 0 0 23px;
    display: block;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #f08811;
  }
  
  .team__item-wrapper {
    width: 50%;
    margin-left: -8.5%;
    padding: 68px 98px 74px;
    border: 22px solid #183118;
    border-right-width: 34px;
    border-left-width: 22px;
    background-color: #252223;
    outline: 1px solid rgba(160, 123, 80, 0.43);
  }
  
  .team__item-wrapper blockquote p {
    margin: 0 0 46px;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    opacity: 0.7;
  }
  
  .team__social li {
    margin-right: 9px;
  }
  
  .team__social li:last-of-type {
    margin-right: 0;
  }
  .social__icon {
    width: 22px;
    height: 15px;
  }
  
  
  .team__item-show {
    opacity: 1;
    z-index: 2;
  }

  /* faq section */
  .faq {
    background-color: #185c0b;
  }
  
  .faq__wrapper {
    padding-top: 72px;
    padding-bottom: 30px;
  }
  
  .faq__title {
    margin-bottom: 20px;
  }
  
  .faq__lead {
    margin-bottom: 54px;
  }
  
  .faq__list {
    counter-reset: faq-counter;
    width: 75.6%;
    margin: 0 auto;
    overflow: hidden;
    transform: translateX(11px);
  }
  
  .faq__item {
    position: relative;
    padding: 0;
    padding-left: 116px;
    margin: 0;
    margin-bottom: 36px;
    counter-increment: faq-counter;
    overflow: hidden;
  }
  
  .faq__item::before {
    content: "0" counter(faq-counter);
    position: absolute;
    left: 0;
    top: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    font-family: "Roboto", "Arial", sans-serif;
    line-height: 82px;
    color: #dfee0e;
  }
  
  .faq__item:last-of-type {
    padding-bottom: 0;
  }
  
  .faq__question {
    box-sizing: border-box;
    position: relative;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ddd0c3;
    background-color: #185c0b;
    cursor: pointer;
    width: 99.9%;
    padding: 47px 15% 43px 42px;
    border: 1px solid #eba04c;
    text-align: left;
    outline: none;
    z-index: 2;
    appearance: none;
    transition: background-color 0.3s ease-out;
  }
  
  .faq__question::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 13.3%;
    height: 100%;
    background-image: url("/img/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-left: 1px solid #eba04c;
    transition: background-color 0.3s ease-out;
  }
  
  .faq__question:hover,
  .faq__question:hover::after {
    background-color: #183118;
  }
  
  .faq__answer {
    width: 99.9%;
    height: 0;
    padding: 0 42px;
    border: 0 solid #eba04c;
    opacity: 0;
    transition: height 0.3s ease-out, padding 0.3s ease-out, border 0.3s ease-out, opacity 0.3s ease-out;
  }
  
  .faq__answer--show {
    width: 99.9%;
    height: auto;
    padding: 38px 42px 39px;
    border: 1px solid #eba04c;
    border-top: none;
    z-index: 1;
    opacity: 1;
  }
  
  .faq__answer p {
    width: auto;
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 154%;
    color: #ddd0c3;
  }
  
  .faq__answer p{
    max-width: 549px;
    margin-bottom: 28px;
  }
  
  .faq__answer p:last-of-type {
    max-width: 549px;
    margin-bottom: 0;
  }
  
  .faq__active-btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 13.3%;
    height: 100%;
    background-image: url("/img/activeQuestion-original.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #eba04c;
  }
  
  .faq__active-btn:hover::after {
    background-color: #183118;
  }

  /* reviews section */
  .reviews {
    background-color: #185c0b;
  }
  
  .reviews__wrapper {
    display: block;
    padding-top: 27px;
    padding-bottom: 112px;
  }
  
  .reviews__slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 65px;
    padding-left: 65px;
  }
  
  .reviews__slider button {
    display: block;
  }
  
  .reviews__title {
    margin-bottom: 59px;
  }
  
  .reviews__list {
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  
  .reviews__item {
    display: flex;
    padding-left: 0;
  }
  
 
  
  .reviews__item blockquote {
    margin: 0;
    min-width: 370px;
  }
  
  .reviews__item time {
    color: #d8d518;
    margin-right: 35px;
    letter-spacing: 0.6px;
    line-height: 2.5;
    font-size: 16px;
  }
  
  .reviews__item-title {
    display: block;
    margin: 0 0 13px;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #d8d518;
  }
  
  .reviews__img-wrapper {
    width: 60%;
    z-index: 5;
   
  }
  .reviews__img-wrapper img {
    width: 366px;
    height: auto;
  }
  .reviews__content {
    width: 50%;
    margin-left: -170px;
    padding: 70px 110px ;
    background-color: #183118;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
  }
  
  .reviews__content blockquote {
    display: block;
    width: 100%;
  }
  
  .reviews__content blockquote p {
    margin: 0 0 39px;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    color: #ffffff;
    opacity: 0.7;
  }
  
  .reviews__content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .reviews__social {
    align-items: flex-start;
  }
  
  .reviews__social li {
    margin-right: 17px;
    margin-bottom: 17px;
  }
  
  .reviews__social li:last-of-type {
    margin-right: 0;
    margin-bottom: 0;
  }
  
  .reviews__social a {
    width: 28px;
    height: 28px;
    border: 1px solid #d8d518;
    transition: border-color 0.3s ease-out;
  }
  
  .reviews__social a:hover,
  .reviews__social a:focus {
    border-color: #54db06;
  }
  
    .reviews__item-show {
    opacity: 1;
    z-index: 2;
  }
  
  /* footer styles*/
  .footer {
    background-color: #183118;
  }
  
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 72.7%;
    padding-top: 70px;
    padding-bottom: 59px;
  }
  
  
  
  .footer__social {
    align-self: center;
  }
  
  .footer__social li {
    margin-right: 10px;
  
  }
  
  .footer__social li:last-of-type {
    margin-right: 0;
  }
   
  .social__icon-footer {
   height: 20px;
    transform: scale(1);
    transition: all  0.3s ease-in-out;
  }
  .social__icon-footer:hover {
    transform: scale(1.2);
    
  } 
  .footer__link {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #ddd0c3;
    transition: color 0.3s ease-out;
  }
  
  .footer__link--address {
    transform: translateX(27px);
  }
  
  .footer__link--tel {
    font-weight: bold;
    transform: translateX(-29px);
  }
  
  .footer__link:hover,
  .footer__link:focus {
    color: #dfee0e;
  }
  
  .show {
    display: block;
  }
  
